.profile-section{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.profile-data{
    flex-direction: column;
    margin-left: 20px;
}

.profile-pic{
    width: 200px;
}

.profile-name{
    font-weight: bold;
}

.profile-role{
    font-size:1.5rem;
    color:#FF3535;
}

.profile-cohort{
    font-size:1.5rem;
    color:black;
    font-style: italic;
}

.top-content-section{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-top: 30px;
    padding: 20px;
}


.profile-section{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.paragraph1{
    width: 60%;
    padding: 10px;
    font-size: 3rem;

}

.paragraph2{
    width: 40%;
    padding: 10px;
}

.paragraph2 b{
    font-size: 2rem;
}
