.profile-section{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

@media (max-width: 880px) {
    .profile-section {
        flex-direction: column;
        align-content: center;
    }
}

.profile-data{
    flex-direction: column;
    margin-left: 20px;
}

.profile-pic{
    width: 200px;
}

.profile-name{
    font-weight: bold;
}

.profile-role{
    font-size:1.5rem;
    color:#FF3535;
}

.profile-cohort{
    font-size:1.5rem;
    color:black;
    font-style: italic;
}

.top-content-section{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-top: 30px;
    padding: 20px;
}

@media (max-width: 660px) {
    .top-content-section {
        flex-direction: column;
        justify-content: center;
    }
    .paragraph1 {
        text-align: center;
    }
    .paragraph2 {
        /* text-align: center; */
        text-align: justify;
    }
}

.profile-section{
    margin-top: 20px;
    display: flex;
    /* flex-direction: column;
    justify-content: flex-end;
    align-content: space-between;
    align-items: baseline; */
}

.profile-second {
    display: flex;
}

.paragraph1{
    width: 60%;
    padding: 10px;
    font-size: 3rem;
}

@media (max-width: 660px) {
    .paragraph1 {
        width: 100%;
    }
}

.paragraph2{
    width: 40%;
    padding: 10px;
}

@media (max-width: 660px) {
    .paragraph2 {
        width: 100%;
    }
}

.paragraph2 b{
    font-size: 2rem;
}

.about-container {
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
}