.contact-box-container{ 
    /* The image used */
    background-image: url("../images/epcot-sky.jpg");
    /* background-color: red; */
  
    /* Set a specific height */
    height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-box{
    margin-left:50%;
    margin-right: 25%;
}
.form{
    display: flex;
    flex-direction: column;
    padding-top: 50%;
}
p{
    font-family: 'Montserrat', sans-serif;
}


