body {
	margin: 0%;
	background: rgb(243, 236, 236);
	font-weight: 300;
}

.container {
	width: 100%;
	margin: 0 auto;
}

header {
	background: #6ce0d3;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	/* border-bottom: 2px solid white; */
	padding: 10px;
	/* position: fixed;
   	z-index: 2; */
}

@media (max-width:800px) {
	header {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

header::after {
	content: '';
	display: table;
	clear: both;
}

.logo {
	color: #232B2D;
	text-decoration: none;
	margin-top: 8px;
	margin-left: 11rem; 
	display: block;
	width: 23%;
	height: auto;
	/* margin: 1rem 2rem .8rem 3rem; */
}

@media (max-width: 800px) {
	.logo {
		margin-left: 0;
		width: 20%
	}
}

@media (max-width: 500px) {
	.logo {
		width: 25%;
	}
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 95%;
	color: #232B2D;
	text-decoration: none;
	margin-left: 30rem;
}

@media (max-width: 1200px) {
	nav {
		margin-left: 20rem;
	}
}

@media (max-width: 1100px) {
	nav {
		margin-left: 10rem;
	}
}

@media (max-width: 800px) {
	nav {
		margin-left: 0;
	}
}

@media (max-width: 500px) {
	nav {
		margin-left: 0;
	}
}

  a {
	color: #232B2D;
	text-decoration: none;
	font-family: 'Walter Turncoat', cursive;
	font-size: 2.0rem;
	display: inline-block;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	font-weight: bold;
  }

@media (max-width: 1100px) {
	a {
		font-size: 2rem;
	}
}

@media (max-width: 800px) {
	a {
		font-size: 2rem;
	}
}

@media (max-width: 500px) {
	a {
		font-size: 1.5rem;
	}
}

  a:hover {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
  }
  
  @keyframes shake {
	10%, 90% {
	  transform: translate3d(-1px, 0, 0);
	}
	
	20%, 80% {
	  transform: translate3d(2px, 0, 0);
	}
  
	30%, 50%, 70% {
	  transform: translate3d(-4px, 0, 0);
	}
  
	40%, 60% {
	  transform: translate3d(4px, 0, 0);
	}
  }


