body {
	margin: 0%;
	background: rgb(243, 236, 236);
	font-weight: 300;
}

.container {
	width: 100%;
	margin: 0 auto;
}



header {
	background: #6ce0d3;
}

header::after {
	content: '';
	display: table;
	clear: both;
}

.logo {
	float: left;
	color: #232B2D;
	text-decoration: none;
	margin-top: 8px;
	margin-left: 10rem;
	display: block;
   	max-width: 36rem;
   	height: auto;
}

@media only screen and (max-width: 1220px) {
	.logo {
		float: left;
		color: #232B2D;
		text-decoration: none;
		margin-left: 1rem;
		display: block;
		max-width: 25rem;
		height: auto;
	}
}

@media only screen and (max-width: 800px) {
	.logo {
		display: none;
	}
}

nav {
	float: right;
	color: #232B2D;
	text-decoration: none;
}

@media only screen and (max-width: 800px) {
	nav {
		display: none;
	}
}

a {
	color: #232B2D;
	text-decoration: none;
	font-family: 'Walter Turncoat', cursive;
	font-size: 3.2rem;
	margin-top: -1.1rem;
}

@media only screen and (max-width: 1200px) {
	a {
		color: #232B2D;
		text-decoration: none;
		font-family: 'Walter Turncoat', cursive;
		font-size: 3.2rem;
		margin-left: 3.1rem;
	}
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin: 2.5rem;
	padding-top: 1.7rem;
	font-family: 'Walter Turncoat', cursive;
}

  a {
	display: inline-block;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  a:hover {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
  }
  
  @keyframes shake {
	10%, 90% {
	  transform: translate3d(-1px, 0, 0);
	}
	
	20%, 80% {
	  transform: translate3d(2px, 0, 0);
	}
  
	30%, 50%, 70% {
	  transform: translate3d(-4px, 0, 0);
	}
  
	40%, 60% {
	  transform: translate3d(4px, 0, 0);
	}
  }

