
header {
	width: 100vw;
}
nav {
	display: flex;
	flex-direction: row;
	background-color: #800080;
	width: 100%;
	
}
a {
	text-decoration: none;
	color: white;
	font-size: 2.6rem;
}

/*a:nth-child(0) {
	align-self: flex-start;
}*/

.logo {
	font-size: 3rem;
}